{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block titreH1 %}Inscription{% endblock %}

{% block body %}
   

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
